<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>中信信用卡申请页面-2</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body>

<!-- 你的HTML代码 -->
<div>
    <ul class="layui-nav">
        <li class="layui-nav-item"><a href="" style="font-size: 17px">我的账户</a></li>
        <li class="layui-nav-item"><a href="" style="font-size: 17px">账单查询</a></li>
        <li class="layui-nav-item"><a href="" style="font-size: 17px">信用卡还款</a></li>
        <li class="layui-nav-item"><a href="" style="font-size: 17px">分期业务</a></li>
        <li class="layui-nav-item"><a href="" style="font-size: 17px">卡片管理</a></li>
        <li class="layui-nav-item layui-this"><a href="" style="font-size: 17px">申请卡片</a></li>
        <li class="layui-nav-item"><a href="" style="font-size: 17px">客户信息管理</a></li>
        <li class="layui-nav-item"><a href="" style="font-size: 17px">设置管理</a></li>
        <li class="layui-nav-item">
            <a href=""><img src="../imgs/head01.png" class="layui-nav-img" style="font-size: 17px">我</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;" style="font-size: 15px">修改信息</a></dd>
                <dd><a href="javascript:;" style="font-size: 15px">安全管理</a></dd>
                <dd><a href="javascript:;" style="font-size: 15px">退了</a></dd>
            </dl>
        </li>
    </ul>
</div>
<div style="float: left">
    <div style="">
        <img src="../imgs/applyCard03.png">
    </div>
    <div >
        <img src="../imgs/applyCard04.png">
    </div>
</div>
<div style="float: left">
    <img src="../imgs/applyCard02.png">
</div>
<div style="width: 100%;text-align: center;margin-top: 200px;font-size: 15px">
    <div  style="width: 950px;float: left">
        <!--表单-->
        <form class="layui-form" action="/apply/applyCard03.html" method="post">
            <!--公司名字-->
            <div class="layui-form-item">
                <!--隐藏session中的uid-->
                <input type="hidden" name="uid" value="">
                <label class="layui-form-label">公司名字</label>
                <div class="layui-input-block">
                    <input type="text" name="companyName" required  lay-verify="required" placeholder="请输入公司名字(String)" autocomplete="off" class="layui-input">
                </div>
            </div>
            <!--'公司类型(1为国有企业，2为私营企业，3事业单位，4政府关机，5为个体户)'-->
            <div class="layui-form-item">
                <label class="layui-form-label">公司类型</label>
                <div class="layui-input-block">
                    <select name="companyType" lay-verify="required">
                        <option value=""></option>
                        <option value="1">国有企业</option>
                        <option value="2">私营企业</option>
                        <option value="3">事业单位</option>
                        <option value="4">政府机关</option>
                        <option value="4">个体经营</option>
                    </select>
                </div>
            </div>
            <!--公司电话-->
            <div class="layui-form-item">
                <label class="layui-form-label">公司电话</label>
                <div class="layui-input-block">
                    <input type="text" name="companyPhone" required  lay-verify="required" placeholder="请输入公司电话(String)" autocomplete="off" class="layui-input">
                </div>
            </div>
            <!--从事行业-->
            <div class="layui-form-item">
                <label class="layui-form-label">从事行业</label>
                <div class="layui-input-block">
                    <input type="text" name="industry" required  lay-verify="required" placeholder="请输入从事行业(String)" autocomplete="off" class="layui-input">
                </div>
            </div>
            <!--公司地址-->
            <div class="layui-form-item">
                <label class="layui-form-label">公司地址</label>
                <div class="layui-input-block">
                    <input type="text" name="companyAddress" required  lay-verify="required" placeholder="请输入公司地址(String)" autocomplete="off" class="layui-input">
                </div>
            </div>
            <!--担任职务-->
            <div class="layui-form-item">
                <label class="layui-form-label">担任职务</label>
                <div class="layui-input-block">
                    <input type="text" name="position" required  lay-verify="required" placeholder="请输入担任职务(String)" autocomplete="off" class="layui-input">
                </div>
            </div>
            <!--年收入（1为5万以下，2为5-15万，3为15-30万，4为30-50，5为50以上）-->
            <div class="layui-form-item">
                <label class="layui-form-label">选择框</label>
                <div class="layui-input-block">
                    <select name="income" lay-verify="required">
                        <option value=""></option>
                        <option value="1">5万以下</option>
                        <option value="2">5-15万</option>
                        <option value="3">15-30万</option>
                        <option value="4">30-50万</option>
                        <option value="5">50万以上</option>
                    </select>
                </div>
            </div>
            <!--安全问题-->
            <div class="layui-form-item">
                <label class="layui-form-label">邮政编码</label>
                <div class="layui-input-block">
                    <input type="text" name="postcode" required  lay-verify="required" placeholder="请输入邮政编码(Long)" autocomplete="off" class="layui-input">
                </div>
            </div>

            <!--提交与重置-->
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" type="submit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="../layui/layui.js"></script>
<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;

        //…
    });

    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>
</body>
</html>