<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>中信信用卡申请页面-1</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body>

<!-- 你的HTML代码 -->
<div>
    <ul class="layui-nav">
        <li class="layui-nav-item"><a href="homePage" style="font-size: 17px">我的账户</a></li>
        <li class="layui-nav-item"><a href="" style="font-size: 17px">账单查询</a></li>
        <li class="layui-nav-item"><a href="" style="font-size: 17px">信用卡还款</a></li>
        <li class="layui-nav-item"><a href="" style="font-size: 17px">分期业务</a></li>
        <li class="layui-nav-item"><a href="" style="font-size: 17px">卡片管理</a></li>
        <li class="layui-nav-item layui-this"><a href="" style="font-size: 17px">申请卡片</a></li>
        <li class="layui-nav-item"><a href="" style="font-size: 17px">客户信息管理</a></li>
        <li class="layui-nav-item"><a href="" style="font-size: 17px">设置管理</a></li>
        <li class="layui-nav-item">
            <a href=""><img src="../imgs/head01.png" class="layui-nav-img" style="font-size: 17px">我</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;" style="font-size: 15px">修改信息</a></dd>
                <dd><a href="javascript:;" style="font-size: 15px">安全管理</a></dd>
                <dd><a href="javascript:;" style="font-size: 15px">退了</a></dd>
            </dl>
        </li>
    </ul>
</div>
<div style="float: left">
    <div style="">
        <img src="../imgs/applyCard03.png">
    </div>
    <div >
        <img src="../imgs/applyCard04.png">
    </div>
</div>
<div style="float: left">
    <img src="../imgs/applyCard02.png">
</div>
<div style="width: 100%;text-align: center;margin-top: 200px;font-size: 15px">
    <div  style="width: 950px;float: left">
        <!--表单-->
        <form class="layui-form" action="/apply/applyCard02.html" method="post">
            <!--婚姻状况 1为未婚，2为已婚，3为离异，4为丧偶-->
            <div class="layui-form-item">
                <label class="layui-form-label">婚姻状况</label>
                <div class="layui-input-block">
                    <select name="maritalStatus" lay-verify="required">
                        <option value=""></option>
                        <option value="1">未婚</option>
                        <option value="2">已婚</option>
                        <option value="3">离异</option>
                        <option value="4">丧偶</option>
                    </select>
                </div>
            </div>
            <!--教育程度 1为初中，2为高中，3为大专，4为本科，5为本科以上-->
            <div class="layui-form-item">
                <label class="layui-form-label">教育程度</label>
                <div class="layui-input-block">
                    <select name="eduLevel" lay-verify="required">
                        <option value=""></option>
                        <option value="1">初中</option>
                        <option value="2">高中</option>
                        <option value="3">大专</option>
                        <option value="4">本科</option>
                        <option value="5">本科以上</option>
                    </select>
                </div>
            </div>
            <!--安全问题-->
            <div class="layui-form-item">
                <!--隐藏session中的uid-->
                <input type="hidden" name="uid" value="">
                <label class="layui-form-label">安全问题</label>
                <div class="layui-input-block">
                    <input type="text" name="securityQuestion" required  lay-verify="required" placeholder="请输入安全问题(String)" autocomplete="off" class="layui-input">
                </div>
            </div>
            <!--安全问题-->
            <div class="layui-form-item">
                <label class="layui-form-label">预留答案</label>
                <div class="layui-input-block">
                    <input type="text" name="securityAnwers" required  lay-verify="required" placeholder="请输入预留答案(String)" autocomplete="off" class="layui-input">
                </div>
            </div>
            <!--当前住址-->
            <div class="layui-form-item">
                <label class="layui-form-label">当前住址</label>
                <div class="layui-input-block">
                    <input type="text" name="currentAddress" required  lay-verify="required" placeholder="请输入当前住址(String)" autocomplete="off" class="layui-input">
                </div>
            </div>
            <!--住宅情况（1为租房，2为自购房，3为自建房）-->
            <div class="layui-form-item">
                <label class="layui-form-label">选择框</label>
                <div class="layui-input-block">
                    <select name="housingStatus" lay-verify="required">
                        <option value=""></option>
                        <option value="1">租房</option>
                        <option value="2">自购房</option>
                        <option value="3">自建房</option>
                    </select>
                </div>
            </div>
            <!--安全问题-->
            <div class="layui-form-item">
                <label class="layui-form-label">邮政编码</label>
                <div class="layui-input-block">
                    <input type="text" name="postcode" required  lay-verify="required" placeholder="请输入邮政编码(Long)" autocomplete="off" class="layui-input">
                </div>
            </div>

            <!--提交与重置-->
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" type="submit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="../layui/layui.js"></script>
<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;

        //…
    });

    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>
</body>
</html>