<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.credit.mapper.HistoryNotEveryBillMapper">

    <resultMap id="ResultNotBillMap" type="com.credit.pojo.TbHistoryNotEverybill">
        <id column="id" property="id" />
        <result column="cc_id" property="ccId"  />
        <result column="pay_info" property="payInfo"  />
        <result column="money_type" property="moneyType"  />
        <result column="pay_amount" property="payAmount"  />
        <result column="get_money_card" property="getMoneyCard"  />
        <result column="bill_date_num" property="billDateNum"  />
        <result column="bill_date" property="billDate"  />
        <result column="pay_date_num" property="payDateNum"  />
        <result column="pay_date" property="payDate"  />
    </resultMap>
    <select id="getOneMonthEveryNotbillHistory" parameterType="java.util.Map" resultMap="ResultNotBillMap">
        SELECT id,cc_id,pay_info,money_type,pay_amount,pay_date_num,get_money_card,pay_date,bill_date_num,bill_date
        FROM tb_history_not_everybill
        <where>
            <if test="s!=null&amp;&amp;p!=null"> and pay_date BETWEEN #{s} AND #{p} </if>
            <if test="ccid!=null"> and cc_id = #{ccid} </if>
        </where>
        ORDER BY pay_date DESC
    </select>
</mapper>